<div className="error-view">
  <div className="error-icon">
  <%= link_to image_tag("error-icon.png", alt: "Logo of Error", width: "64", height: "64"), "/" %>
  </div>
  <div className="headline">Oh no! This page does not exist.</div>
  <div className="sub-text">
    <div className="sub-info-text">
      The page you are trying to access does not exist. If you landed here by
      clicking on a link within Pramata, please write to support@pramata.com or
      report a bug by clicking icon
      (at the bottom right corner) & typing report bug.
    </div>
  </div>
</div>